<div class='control'>
    <div class="control__header">
        Управление
    </div>
    <ul class="control-list">
        <li class="control-item control-item_on control-item_lamp">
            <span class="control__icon">
              <svg class='control__svg control__svg_on'>
                <use xlink:href="sprite.svg#control-lamp-on"></use>
              </svg>
              <svg class='control__svg control__svg_off'>
                <use xlink:href="sprite.svg#control-lamp-off"></use>
              </svg>
            </span>
            <span class="control__name">Лампа 1</span>
            <span class="control__description">Включена</span>
        </li>
        <li class="control-item control-item_on control-item_outlet">
            <span class="control__icon">
                <svg class='control__svg'>
                    <use xlink:href="sprite.svg#control-outlet"></use>
                </svg>
              </span>
            <span class="control__name">Розетка</span>
            <span class="control__description">Включена</span>
        </li>
        <li class="control-item control-item_off control-item_lamp">
            <span class="control__icon">
                <svg class='control__svg control__svg_on'>
                  <use xlink:href="sprite.svg#control-lamp-on"></use>
                </svg>
                <svg class='control__svg control__svg_off'>
                  <use xlink:href="sprite.svg#control-lamp-off"></use>
                </svg>
            </span>
            <span class="control__name">Лампа 2</span>
            <span class="control__description">Выключена</span>
        </li>
    </ul>
</div>
