<div class='control'>
    <div class="control__header">
        Управление
    </div>
    <ul class="control-list">
        <li id='LAMP_1-status' class="control-item {%if LAMP_1.last_value  == 'true' %} control-item_on {% else %} control-item_off {% endif%} control-item_lamp">
            <span class="control__icon">
              <svg class='control__svg control__svg_on'>
                <use xlink:href="sprite.svg#LAMP_1"></use>
              </svg>
              <svg class='control__svg control__svg_off'>
                <use xlink:href="sprite.svg#control-lamp-off"></use>
              </svg>
            </span>
            <span class="control__name">Лампа 1</span>
            <span class="control__description">{%if LAMP_1.last_value  == 'true' %} Включена {% else %} Выключена {% endif%}</span>
        </li>
        <li id='SOCKET-status' class="control-item {%if SOCKET.last_value  == 'true' %} control-item_on {% else %} control-item_off {% endif%} control-item_outlet">
            <span class="control__icon">
                <svg class='control__svg'>
                    <use xlink:href="sprite.svg#SOCKET"></use>
                </svg>
              </span>
            <span class="control__name">Розетка</span>
            <span class="control__description">{%if SOCKET.last_value  == 'true' %} Включена {% else %} Выключена {% endif%}</span>
        </li>
        <li id='LAMP_2-status' class="control-item {%if LAMP_2.last_value  == 'true' %} control-item_on {% else %} control-item_off {% endif%} control-item_lamp">
            <span class="control__icon">
                <svg class='control__svg control__svg_on'>
                  <use xlink:href="sprite.svg#LAMP_2"></use>
                </svg>
                <svg class='control__svg control__svg_off'>
                  <use xlink:href="sprite.svg#control-lamp-off"></use>
                </svg>
            </span>
            <span class="control__name">Лампа 2</span>
            <span class="control__description">{%if LAMP_2.last_value  == 'true' %} Включена {% else %} Выключена {% endif%}</span>
        </li>
    </ul>
</div>
