<div class='dashboard'>
    <div class="dashboard-location">
        <span id='name--BoxName' class="dashboard-location__place">{{ BoxName }}</span>
        <span id='status__value--box_time' data-time="{{ box_time }}" class="dashboard-location__time"> {{ time }}</span>
    </div>
    <div class="dashboard-mode">
        <span class="dashboard-mode__header">Режим работы</span>
        <span id="mode__master" class="dashboard-mode__item {% if mode == 'IDLE' %} dashboard-mode__item_changed {% endif %}">Хозяин дома</span>
        <span id="mode__security" class="dashboard-mode__item {% if mode == 'ARMED' %} dashboard-mode__item_changed {% endif %}">Охрана</span>
    </div>
    <div class='dashboard-mobile-panel'>
        <div class="dashboard-keys dashboard-keys__svg_remote-down">
          <svg class="dashboard-keys__svg dashboard-keys__svg_remote-up">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#box-success-remote-up"></use>
          </svg>

          <svg class="dashboard-keys__svg dashboard-keys__svg_remote-down">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#box-success-remote-down"></use>
          </svg>

          <svg class="dashboard-keys__svg dashboard-keys__svg_local-up">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#box-success-local-up"></use>
          </svg>

          <svg class="dashboard-keys__svg dashboard-keys__svg_local-down">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#box-success-local-down"></use>
          </svg>

          <svg class="dashboard-keys__svg dashboard-keys__svg_fail">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#box-fail"></use>
          </svg>
        </div>
        <div class="dashboard-battery dashboard-battery_charge">
            <svg class="dashboard-battery__icon dashboard-battery__icon_charge">
              <use id='BATT_CHARGE-icon' xlink:href="#battery-charge"></use>
            </svg>
            <svg class="dashboard-battery__icon dashboard-battery__icon_low">
              <use id='BATT_CHARGE-icon' xlink:href="#battery-low"></use>
            </svg>
            <svg class="dashboard-battery__icon dashboard-battery__icon_medium">
              <use id='BATT_CHARGE-icon' xlink:href="#battery-medium"></use>
            </svg>
            <svg class="dashboard-battery__icon dashboard-battery__icon_full">
              <use id='BATT_CHARGE-icon' xlink:href="#battery-full"></use>
            </svg>
            <span class="dashboard-battery__count">
              <b id="status__value--BATT_CHARGE">{{ BATT_CHARGE.last_value }}</b>%
            </span>
        </div>
    </div>
</div>
