<div class='dashboard'>
    <div class="dashboard-location">
        <span class="dashboard-location__place">Дача</span>,
        <span class="dashboard-location__time"> 10:00</span>
    </div>
    <ul class="dashboard-mode">
        <li id="mode__master" class="dashboard-mode__item dashboard-mode__item_changed">Хозяин дома</li>
        <li id="mode__security" class="dashboard-mode__item">Охрана</li>
    </ul>
    <div class="dashboard-info">
        <svg class="dashboard-info__icon">
        <use xlink:href="sprite.svg#round_and_i"></use>
      </svg>
        <span class="dashboard-info__count">36</span>
    </div>
    <div class='dashboard-mobile-panel'>
        <span class='dashboard-gsm'>
          <svg class="dashboard-gsm__icon">
            <use xlink:href="sprite.svg#gsm"></use>
          </svg>
        </span>
        <div class="dashboard-keys">
            <svg class="dashboard-keys__svg">
              <use xlink:href="sprite.svg#vse-ok-ustroystvo"></use>
            </svg>
        </div>
        <div class="dashboard-battery">
            <svg class="dashboard-battery__icon">
              <use xlink:href="sprite.svg#battery"></use>
            </svg>
            <span class="dashboard-battery__count">
              <span id="status__battery--percent">100</span>%</span>
        </div>
    </div>
</div>
