<div id='history-scroll' class='history-scroll'>
  <ul class="history-list">
    {% for item in recs %}
      <li data-id='{{ item.id }}' class="history-item">
          <span class="history__icon history__icon_{{ item.severity }}">
              <svg class="history__svg history__svg_{{ item.icon }}">
                <use xlink:href="sprite.svg#{{ item.icon }}"></use>
              </svg>
          </span>
          <span class="history__data"> {{ item.date }}</span>
          <span class="history__text">{{ item.text }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
