<div class="history">
    <div class="history-header">
        <span class="history-header__text">История</span>
        <ul class="history-mode">
            <li class="history-mode__item history-mode__item_changed">Список</li>
            <li class="history-mode__item">График</li>
        </ul>
    </div>
    <div id='history-scroll' class='history-scroll'>
      <ul class="history-list">
        {% for item in history %}
          <li class="history-item">
              <span class="history__icon history__icon_{{ item.importance }}">
                  <svg class="history__svg history__svg_{{ item.type }}">
                    <use xlink:href="sprite.svg#{{ item.type }}"></use>
                  </svg>
              </span>
              <span class="history__data">{{item.date}}</span>
              <span class="history__text">{{ item.message }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
</div>
