<div class="history">
    <div class="history-header">
        <span class="history-header__text">История</span>
        <ul class="history-mode">
            <li class="history-mode__item history-mode__item_changed">Список</li>
            <li class="history-mode__item">График</li>
        </ul>
    </div>

    <ul class="history-list">
        <li class="history-item">
            <span class="history__icon history__icon_critical">
                <svg class="history__svg history__svg_watermeter">
                  <use xlink:href="sprite.svg#watermeter"></use>
                </svg>
            </span>
            <span class="history__data">01:54 - 01:57</span>
            <span class="history__text">Зафиксировано движение (24)</span>
        </li>
        <li class="history-item">
            <span class="history__icon history__icon_warning">
                <svg class="history__svg history__svg_watermeter">
                  <use xlink:href="sprite.svg#watermeter"></use>
                </svg>
            </span>
            <span class="history__data">01:54 - 01:57</span>
            <span class="history__text">Зафиксировано движение (24)</span>
        </li>
        <li class="history-item">
            <span class="history__icon history__icon_actions">
                <svg class="history__svg history__svg_watermeter">
                  <use xlink:href="sprite.svg#watermeter"></use>
                </svg>
            </span>
            <span class="history__data">01:54 - 01:57</span>
            <span class="history__text">Зафиксировано движение (24)</span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
        <li class="history-item">
            <span class="history__icon"></span>
            <span class="history__data"></span>
            <span class="history__text"></span>
        </li>
    </ul>
</div>
