<header class='main-header'>
    <div class='wrapper'>
        <h1 class='main-header__title'>Управдом</h1>
    </div>
</header>
<form class='login' id='login_form'>
    <input class='login__input' id='login_phone' type='tel' maxlength='20' value='' placeholder='Ваш телефон'>
    <input class='login__input' id='srp__password' type='password' maxlength='30' placeholder='Введите пароль'>
    <button class='login__save' id='login_srp'>
        Войти в систему
    </button>
    <div class='login-description'>
      <span class='login-description__title'>Номер телефона:</span>
      <span class='login-description__text'>Является уникальным логином в устройство, а также получателем sms-сообщения об аварийных событиях и предупреждениях.
      <span class='login-description__title'>Пароль:</span>
      <span class='login-description__text'>Должен быть не менее 5 символов длиной, что обеспечивает доступ к данным устройства исключительно для Вас.</span>
    </div>
</form>
    </div>
