<header class='main-header'>
    <div class='wrapper'>
        <h1 class='main-header__title'>Управдом</h1>
        {% include 'dashboard.html'%}
    </div>
</header>

<main class='main-block'>
    <div class='wrapper'>
        {% include 'panel.html'%}
    </div>

    <div class='wrapper'>
        {% include 'visual.html'%}
    </div>

    <div class='wrapper'>
        {% include 'history.html' %}
    </div>

    <div class='wrapper'>
        {% include 'control.html' %}
    </div>


    <div class="wrapper">
        {% include 'settings.html' %}
        <div class='logout'>
          <span class='logout__description'>Для повторного входа в систему потребуется ввести пароль!</span>
          <button id='exit' class='logout__exit'>
            <span class='logout__text'>Выйти</span>
            <span class="logout__icon logout__icon_cross">
                <svg class="logout__svg logout__svg_cross">
                  <use xlink:href="#cross"></use>
                </svg>
            </span>
          </button>
        </div>
    </div>
</main>


<footer class="footer">
    <div class="wrapper">
        <div class="footer__company">ООО «ИТЦ МОЛНЕТ»</div>
        <div class="footer-support">
            <span class='footer-support__text'><a class="footer-support__link" href="mailto:moidom@molnet.ru">moidom@molnet.ru</a></span>
            <span class='footer-support__text'>+7 (495) 927-01-98</span>
        </div>
    </div>
</footer>
