<header class='main-header'>
    <div class='wrapper'>
        <h1 class='main-header__title'>Управдом</h1>
        {% include 'dashboard.html'%}
    </div>
</header>

<main class='main-block'>
    <div class='wrapper'>
        {% include 'panel.html'%}
    </div>

    <div class='wrapper'>
        {% include 'visual.html'%}
    </div>

    <div class='wrapper'>
        {% include 'history.html' %}
    </div>

    <div class='wrapper'>
        {% include 'control.html' %}
    </div>


    <div class="wrapper">
        {% include 'settings.html' %}
        <br>
        Для повторного входа в систему потребуется ввести пароль!
        <br>
        <input type='submit' value='Выйти' id='exit' class='settings__exit'>
    </div>
</main>


<footer class="footer">
    <div class="wrapper">
        <div class="footer__company">ООО «ИТЦ МОЛНЕТ»</div>
        <div class="footer-support">
            Техническая поддержка<br>
            <a class="footer-support__link" href="mailto:moidom@molnet.ru">moidom@molnet.ru</a><br>         
            +7 (495) 927-01-98<br>
        </div>
    </div>
</footer>
