<div id='notifications' class='notifications'>
  <ul class='notifications-list'>
    {% for item in list %}
      <li class='notifications-item'>
        <div class='wrapper'>
          <span class="notifications__icon notifications__icon_temperature">
              <svg class="notifications__svg notifications__svg_temperature">
                <use xlink:href="sprite.svg#temperature"></use>
              </svg>
          </span>
          <span class="notifications__data">{{ item.startDate }}</span>
          <span class="notifications__text">{{ item.text }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
