<ul class="panel">
    <li class="panel-item panel-item_alarm">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_temperature">
              <use xlink:href="sprite.svg#temperature"></use>
            </svg>
            <span class="panel__text">+18&deg;</span>
        </div>
    </li>
    <li class="panel-item">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_watermeter">
            <use xlink:href="sprite.svg#watermeter"></use>
          </svg>
            <span class="panel__text">37%</span>
        </div>
    </li>
    <li class="panel-item">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_flash">
              <use xlink:href="sprite.svg#flash"></use>
            </svg>
            <span class="panel__text">220,5В</span>
        </div>
    </li>
    <li class="panel-item">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_fire">
              <use xlink:href="sprite.svg#fire"></use>
            </svg>
            <span class="panel__text"></span>
        </div>
    </li>
    <li class="panel-item">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_crane">
              <use xlink:href="sprite.svg#crane"></use>
            </svg>
            <span class="panel__text"></span>
        </div>
    </li>
    <li class="panel-item">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_door">
              <use xlink:href="sprite.svg#door"></use>
            </svg>
            <span class="panel__text"></span>
        </div>
    </li>
    <li class="panel-item">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_peoples">
              <use xlink:href="sprite.svg#peoples"></use>
            </svg>
            <span class="panel__text"></span>
        </div>
    </li>
    <li class="panel-item">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_ear">
              <use xlink:href="sprite.svg#ear"></use>
            </svg>
            <span class="panel__text"></span>
        </div>
    </li>
    <li class="panel-item">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_sun">
              <use xlink:href="sprite.svg#sun"></use>
            </svg>
            <span class="panel__text">+18&deg;</span>
        </div>
    </li>
</ul>
