<ul class="panel">
    <li title='Температура в помещении' class="panel-item {%if INTERNAL_TEMP.state == 'ALARM' %} panel-item_alarm {% endif %}">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_temperature">
              <use xlink:href="sprite.svg#INTERNAL_TEMP"></use>
            </svg>
            <div class="panel__text">
              <span id="status__value--INTERNAL_TEMP">{{ INTERNAL_TEMP.last_value }}</span>&deg;
            </div>
        </div>
    </li>
    <li title='Влажность воздуха' class="panel-item {%if INTERNAL_HUMIDITY.state == 'ALARM' %} panel-item_alarm {% endif %}">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_watermeter">
            <use xlink:href="sprite.svg#INTERNAL_HUMIDITY"></use>
          </svg>
            <div class="panel__text">
              <span id="status__value--INTERNAL_HUMIDITY">{{ INTERNAL_HUMIDITY.last_value }}</span>%
            </div>
        </div>
    </li>
    <li title='Напряжение в сети' class="panel-item {%if VAC_SENSOR.state == 'ALARM' %} panel-item_alarm {% endif %}">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_flash">
              <use xlink:href="sprite.svg#VAC_SENSOR"></use>
            </svg>
            <div class="panel__text">
              <span id='status__value--VAC_SENSOR'>{{ VAC_SENSOR.last_value }}</span>В
            </div>
        </div>
    </li>
    <li title='Датчик задымления' class="panel-item {%if GAS_SENSOR.state == 'ALARM' %} panel-item_alarm {% endif %}">
        <div id='status__value--GAS_SENSOR' class="panel-vertical">
            <svg class="panel__svg panel__svg_fire {%if GAS_SENSOR.last_value == 'true' %} panel__svg_color {% endif %}">
              <use xlink:href="sprite.svg#GAS_SENSOR"></use>
            </svg>
        </div>
    </li>
    <li title='Датчик затопления' class="panel-item {%if WET_SENSOR.state == 'ALARM' %} panel-item_alarm {% endif %}">
        <div id='status__value--WET_SENSOR' class="panel-vertical">
            <svg class="panel__svg panel__svg_crane {%if WET_SENSOR.last_value == 'true' %} panel__svg_color {% endif %}">
              <use xlink:href="sprite.svg#WET_SENSOR"></use>
            </svg>
        </div>
    </li>
    <li title='Датчик открытия двери' class="panel-item {%if DOOR_SENSOR.state == 'ALARM' %} panel-item_alarm {% endif %}">
        <div id='status__value--DOOR_SENSOR' class="panel-vertical">
            <svg class="panel__svg panel__svg_door {%if DOOR_SENSOR.last_value == 'true' %} panel__svg_color {% endif %}">
              <use xlink:href="sprite.svg#DOOR_SENSOR"></use>
            </svg>
        </div>
    </li>
    <li title='Датчик движения' class="panel-item {%if PIR_SENSOR.state == 'ALARM' %} panel-item_alarm {% endif %}">
        <div id='status__value--PIR_SENSOR' class="panel-vertical">
            <svg class="panel__svg panel__svg_peoples {%if PIR_SENSOR.last_value == 'true' %} panel__svg_color {% endif %}">
              <use xlink:href="sprite.svg#PIR_SENSOR"></use>
            </svg>
        </div>
    </li>
    <li title='Датчик шума' class="panel-item {%if MIC_NOISE.state == 'ALARM' %} panel-item_alarm {% endif %}">
        <div id='status__value--MIC_NOISE' class="panel-vertical">
            <svg class="panel__svg panel__svg_ear {%if MIC_NOISE.last_value == 'true' %} panel__svg_color {% endif %}">
              <use xlink:href="sprite.svg#MIC_NOISE"></use>
            </svg>
        </div>
    </li>
    <li title='Температура на улице' class="panel-item">
        <div class="panel-vertical">
            <svg class="panel__svg panel__svg_sun">
              <use xlink:href="sprite.svg#sun"></use>
            </svg>
            <div class="panel__text">
              <span id='status__value--OUTSIDE_TEMP'>{{ OUTSIDE_TEMP.last_value }}</span>&deg;
            </div>
        </div>
    </li>
</ul>
