<form  class='registration' id='registration_form'>
    <h1 class='registration__header'>Регистрация</h1>
    <input class='registration__input' id='phone' type='tel' maxlength='20' value='' placeholder='Ваш телефон'>
    <input class='registration__input' id='new__password' type='password' maxlength='30' placeholder='Введите пароль'>
    <input class='registration__input' id='new__password_repeat' type='password' maxlength='30' placeholder='Подтвердить пароль'>
    <button class='registration__save password__save' id='register'>
        Начать работу
    </button>
</form>
