<header class='main-header main-header_visible'>
    <div class='wrapper'>
        <h1 class='main-header__title'>Управдом</h1>
    </div>
</header>
<form  class='registration' id='registration_form'>
    <h1 class='registration__header'>Регистрация</h1>
    <input class='registration__input' id='phone' type='tel' maxlength='20' value='' placeholder='Ваш телефон'>
    <input class='registration__input' id='new__password' type='password' maxlength='30' placeholder='Введите пароль'>
    <input class='registration__input' id='new__password_repeat' type='password' maxlength='30' placeholder='Подтвердить пароль'>
    <button class='registration__save password__save' id='register'>
        Начать работу
    </button>
    <div class='registration-description'>
      <span class='registration-description__title'>Номер телефона:</span>
      <span class='registration-description__text'>Является уникальным логином в устройство, а также получателем sms-сообщения об аварийных событиях и предупреждениях.</span>
      <span class='registration-description__title'>Пароль:</span>
      <span class='registration-description__text'>Должен быть не менее 5 символов длиной, что обеспечивает доступ к данным устройства исключительно для Вас.</span>
      <span class='registration-description__title'>Электронная почта:</span>
      <span class='registration-description__text'>Может быть получателем уведомлений и еженедельной статистики.</span>
    </div>
</form>
