<div class="settings">
    <div class="settings__header">Настройки
    <svg class='settings__header-svg'>
      <use xlink:href="#arrow"></use>
    </svg>
  </div>
    <ul class="settings-list settings-list_loaded">
        <li class="settings-item">
            <span class='settings__name'>Электроэнергия</span>
            <span class="settings__icon">
              <svg class="settings__svg settings__svg_flash">
                <use xlink:href="#VAC_SENSOR"></use>
              </svg>
            </span>
            <div class='settings-wrap'>
                <div class='settings-options'>
                    <span class="settings-options__name">Мин</span>
                    <nobr>
                        <span class="settings-options__switcher settings-options__switcher_minus">
                            <svg class="settings-options__svg ">
                              <use xlink:href="#minus"></use>
                            </svg>
                        </span>
                        <span class="settings-options__value"><b id='settings__value--VACAlertMin'></b>В</span>
                        <span class="settings-options__switcher settings-options__switcher_plus">
                            <svg class="settings-options__svg ">
                              <use xlink:href="#plus"></use>
                            </svg>
                        </span>
                    </nobr>
                </div>
                <div class='settings-options'>
                    <span class="settings-options__name">Макс</span>
                    <nobr>
                        <span class="settings-options__switcher settings-options__switcher_minus">
                            <svg class="settings-options__svg">
                              <use xlink:href="#minus"></use>
                            </svg>
                        </span>
                        <span class="settings-options__value"><b id='settings__value--VACAlertMax'></b>В</span>
                        <span class="settings-options__switcher settings-options__switcher_plus">
                            <svg class="settings-options__svg ">
                              <use xlink:href="#plus"></use>
                            </svg>
                        </span>
                    </nobr>
                </div>
            </div>
        </li>
        <li class="settings-item">
            <span class='settings__name'>Температура</span>
            <span class="settings__icon">
              <svg class="settings__svg settings__svg_temperature">
                <use xlink:href="#INTERNAL_TEMP"></use>
              </svg>
            </span>
            <div class='settings-wrap'>
                <div class='settings-options'>
                    <span class="settings-options__name">Мин</span>
                    <nobr>
                        <span class="settings-options__switcher settings-options__switcher_minus">
                            <svg class="settings-options__svg">
                              <use xlink:href="#minus"></use>
                            </svg>
                        </span>
                        <span class="settings-options__value"><b id='settings__value--InTempAlertMin'></b>&deg</span>
                        <span class="settings-options__switcher settings-options__switcher_plus">
                            <svg class="settings-options__svg">
                              <use xlink:href="#plus"></use>
                            </svg>
                        </span>
                    </nobr>
                </div>
                <div class='settings-options'>
                    <span class="settings-options__name">Макс</span>
                    <nobr>
                        <span class="settings-options__switcher settings-options__switcher_minus">
                            <svg class="settings-options__svg ">
                              <use xlink:href="#minus"></use>
                            </svg>
                        </span>
                        <span class="settings-options__value"><b id='settings__value--InTempAlertMax'></b>&deg</span>
                        <span class="settings-options__switcher settings-options__switcher_plus">
                            <svg class="settings-options__svg ">
                              <use xlink:href="#plus"></use>
                            </svg>
                        </span>
                    </nobr>
                </div>
            </div>
        </li>
        <li class="settings-item">
            <span class='settings__name'>Влажность</span>
            <span class="settings__icon">
              <svg class="settings__svg settings__svg_humidity">
                <use xlink:href="#INTERNAL_HUMIDITY"></use>
              </svg>
            </span>
            <div class='settings-wrap'>
                <div class='settings-options'>
                    <span class="settings-options__name">Мин</span>
                    <nobr>
                        <span class="settings-options__switcher settings-options__switcher_minus">
                            <svg class="settings-options__svg">
                              <use xlink:href="#minus"></use>
                            </svg>
                        </span>
                        <span class="settings-options__value"><b id='settings__value--InHumAlertMin'></b>%</span>
                        <span class="settings-options__switcher settings-options__switcher_plus">
                            <svg class="settings-options__svg">
                              <use xlink:href="#plus"></use>
                            </svg>
                        </span>
                    </nobr>
                </div>
                <div class='settings-options'>
                    <span class="settings-options__name">Макс</span>
                    <nobr>
                        <span class="settings-options__switcher settings-options__switcher_minus">
                            <svg class="settings-options__svg ">
                              <use xlink:href="#minus"></use>
                            </svg>
                        </span>
                        <span class="settings-options__value"><b id='settings__value--InHumAlertMax'></b>%</span>
                        <span class="settings-options__switcher settings-options__switcher_plus">
                            <svg class="settings-options__svg ">
                              <use xlink:href="#plus"></use>
                            </svg>
                        </span>
                    </nobr>
                </div>
            </div>
        </li>
        <li class="settings-item">
            <span class='settings__name'>Звуковые уведомления</span>
            <span class="settings__icon">
              <svg class="settings__svg settings__svg_sound_notifications">
                <use xlink:href="#sound_notifications"></use>
              </svg>
            </span>
            <div class='settings-wrap'>
                <input type="checkbox" id="settings__value--SpeakerNotifications" class="settings__checkbox">
                <label for="settings__value--SpeakerNotifications" class="settings__label settings__label_sound"></label>
            </div>
        </li>
        <li class="settings-item">
            <span class='settings__name'>Включать лампу 1</span>
            <span class="settings__icon">
              <svg class="settings__svg settings__svg_lamp">
                <use xlink:href="#LAMP_1"></use>
              </svg>
            </span>
            <div class='settings-wrap'>
                <div class='settings-block'>
                    <span class='settings__description'>При срабатывании датчика движения и низкого освещения</span>
                    <input type="checkbox" id="settings__value--Lamp1PIRSensorScript" class="settings__checkbox">
                    <label for="settings__value--Lamp1PIRSensorScript" class="settings__label"></label>
                </div>
                <div class='settings-block settings-block_bottom'>
                    <span class='settings__description'>В темное время суток</span>
                    <input type="checkbox" id="settings__value--Lamp1DarkSensorScript" class="settings__checkbox">
                    <label for="settings__value--Lamp1DarkSensorScript" class="settings__label"></label>
                </div>
            </div>
        </li>
        <li class="settings-item">
            <span class='settings__name'>Включать лампу 2</span>
            <span class="settings__icon">
                <svg class="settings__svg settings__svg_lamp">
                  <use xlink:href="#LAMP_2"></use>
                </svg>
            </span>
            <div class='settings-wrap'>
                <div class='settings-block'>
                    <span class='settings__description'>При срабатывании датчика движения и низкого освещения</span>
                    <input type="checkbox" id="settings__value--Lamp2PIRSensorScript" class="settings__checkbox">
                    <label for="settings__value--Lamp2PIRSensorScript" class="settings__label"></label>
                </div>
                <div class='settings-block settings-block_bottom'>
                    <span class='settings__description'>В темное время суток</span>
                    <input type="checkbox" id="settings__value--Lamp2DarkSensorScript" class="settings__checkbox">
                    <label for="settings__value--Lamp2DarkSensorScript" class="settings__label"></label>
                </div>
            </div>
        </li>
        <li class="settings-item">
            <span class='settings__name settings__name_email'>Статистика</span>

            <span class="settings__icon">
              <svg class="settings__svg settings__svg_statistics_by_email">
                <use xlink:href="#statistics_by_email"></use>
              </svg>
            </span>
            <div class='settings-wrap'>
                <div class='settings-block'>
                    <span class='settings__description settings__description_email'>Отправлять еженедельно на эл.почту</span>
                    <input type="checkbox" id="settings__value--StatToEmailScript" class="settings__checkbox">
                    <label for="settings__value--StatToEmailScript" class="settings__label"></label>
                </div>
            </div>
        </li>
        <li class="settings-item">
            <span class='settings__name settings__name_profile'>Настройки профиля</span>
            <span class="settings__icon">
              <svg class="settings__svg settings__svg_profile">
                <use xlink:href="#profile"></use>
              </svg>
            </span>
            <form class='settings-wrap settings-form'>
                <svg class="settings__input-icon settings__input-icon_mail">
                  <use xlink:href="#form-mail"></use>
                </svg>
                <input id='settings__value--NotificationsEmail' type="email" class="settings__input settings__input_email" placeholder="Электронная почта">
                <svg class="settings__input-icon settings__input-icon_base">
                  <use xlink:href="#form-base"></use>
                </svg>
                <input id='settings__value--BoxName' data-description='Уникальное имя Вашего Управдома' type="text" class="settings__input" placeholder="Название локации">
                <button id='settings_save_profile' class='settings__save settings__save_profile'>Сохранить</button>
            </form>
        </li>
        <li id='settings-item-change-password' class="settings-item settings-item_change-password settings-item_hide">
            <span class='settings__name settings__name_password'>Изменить пароль</span>
            <span class="settings__icon">
              <svg class="settings__svg settings__svg_password">
                <use xlink:href="#change_password"></use>
              </svg>
            </span>
            <div class='settings__notice'>По соображениям безопасности изменение пароля и номера мобильного телефона доступно только из локальной сети Управдома</div>
            <form id='changePassword' class='settings-wrap settings-form'>
                <svg class="settings__input-icon settings__input-icon_phone">
                  <use xlink:href="#form-phone"></use>
                </svg>
                <input type="text" id='settings__value--UserLogin' class="settings__input settings__input_phone" placeholder="Телефон">
                <input type="password" class="settings__input settings__input_password settings__input_current" placeholder="Текущий пароль">
                <input type="password" class="settings__input settings__input_password settings__input_new" placeholder="Новый пароль">
                <input type="password" class="settings__input settings__input_password settings__input_confirm" placeholder="Повторите новый пароль">
                <button id='settings_save_password' class='settings__save settings__save_password'>Сохранить</button>
            </form>
        </li>
    </ul>
</div>
