<li id='settings-item-change-password' class="settings-item">
    <span class='settings__name settings__name_password'>Изменить пароль</span>
    <span class="settings__icon">
      <svg class="settings__svg settings__svg_password">
        <use xlink:href="sprite.svg#change_password"></use>
      </svg>
    </span>
    <form id='changePassword' class='settings-wrap settings-form'>
        <svg class="settings__input-icon settings__input-icon_phone">
          <use xlink:href="sprite.svg#form-phone"></use>
        </svg>
        <input type="text" id='settings__value--UserLogin' class="settings__input settings__input_phone" placeholder="Телефон">
        <input type="password" class="settings__input settings__input_password settings__input_current" placeholder="Текущий пароль">
        <input type="password" class="settings__input settings__input_password settings__input_new" placeholder="Новый пароль">
        <input type="password" class="settings__input settings__input_password settings__input_confirm" placeholder="Повторите новый пароль">
        <input type='submit' value='Сохранить' class='settings__save'>
    </form>
</li>
