<div class='visual'>
    <div class="visual-item visual-item_first">
        <div class="visual-block">
            <svg class="visual__svg visual__svg_play">
              <use xlink:href="sprite.svg#play"></use>
            </svg>
            <div class="visual-date">
                <span class="visual__date"></span>
                <span class="visual__time">21:46</span>
            </div>
            <img id='video_cam_Monitor1' src="" alt="" class="visual__img">
        </div>
    </div>
    <div id='update_capture' class="visual__updater">
        <svg class="visual__svg visual__svg_update">
          <use xlink:href="sprite.svg#update"></use>
        </svg>
    </div>
    <div class="visual-item visual-item_last">
        <div class="visual-block">
            <svg class="visual__svg visual__svg_play">
              <use xlink:href="sprite.svg#play"></use>
            </svg>
            <div class="visual-date">
                <span class="visual__date">30.06.16</span>
                <span class="visual__time">17:44</span>
            </div>
            <img id='video_cam_Monitor2' src="" alt="" class="visual__img">
        </div>
    </div>
</div>
