<div class='visual'>
    <div class="visual-item visual-item_first">
        <div class="visual-block">
            <svg class="visual__svg-update visual__svg-update_hide"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#update"></use></svg>
            <div class="visual-date">
                <span class="visual__date"></span>
                <span class="visual__time"></span>
            </div>
            <img id='video_cam_Monitor1' src="/img/dummy.jpg" alt="Камера 1" class="visual__img">
        </div>
    </div>
    <div id='update_capture' class="visual__updater">
        <svg class="visual__svg visual__svg_update">
          <use xlink:href="#update"></use>
        </svg>
    </div>
    <div class="visual-item visual-item_last">
        <div class="visual-block">
            <svg class="visual__svg-update visual__svg-update_hide"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#update"></use></svg>
            <img id='video_cam_Monitor2' src="/img/dummy.jpg" alt="Камера 2" class="visual__img">
        </div>
    </div>
</div>
