{
  'extends': 'airbnb',
  'globals': {
      '$': true,
      'SRP': true,
      'cryptoHelpers': true,
      'scrypt_module_factory': true,
      'localStorage': true,
      'updateData': true,
      'KeyFile': true,
      'RSAKey': true,
      'slowAES': true,
      'console': true,
      'SecureRandom': true,
      'BigInteger': true,
      'DEBUG': true,
      'document': true,
      'window': true,
      'Chartist': true,
      'btoa', true,
  }
}
