/nbproject/private/
node_modules/
public_html/dist/
public_html/images/
public_html/css/
public_html/index.html
public_html/index2.html
public_html/assets/js/bundle.js
npm-debug.log
**/.DS_Store
.DS_Store
