@import "font.less";
@import "const.less";

.panel {
  display: flex;
  font-size: 0;
  font-family: @roboto-regular;
  text-align: center;
  margin-top: 3px;
  margin-right: -6px;
  margin-left: -3px;
  flex-direction: row;
  justify-content: space-between;

  @media @smartphones {
    display: block;
  }

  &-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 110px;
    height: 110px;
    width: 120px;
    background-color: @white;
    position: relative;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;

    &:after {
      content: ' ';
      display: block;
    }

    @media @smartphones {
      width: 31%;
      background-color: transparent;
    }

    &_alarm {
      background-color: @red;

      .panel__svg {
        fill: @white;
      }

      .panel__text {
        color: @white;
      }
    }

    &_weather {
      &-sun {
        .panel__svg_weather-sun {
          display: block;
        }
      }

      &-sun-cloudly {
        .panel__svg_weather-sun-cloudly {
          display: block;
        }

        .panel__svg_weather-sun {
          display: none;
        }
      }

      &-snow {
        .panel__svg_weather-snow {
          display: block;
          height: 33px;
        }

        .panel__svg_weather-sun {
          display: none;
        }
      }

      &-rain {
        .panel__svg_weather-rain {
          display: block;
          height: 33px;
        }

        .panel__svg_weather-sun {
          display: none;
        }
      }

      &-night {
        .panel__svg_weather-night {
          display: block;
        }

        .panel__svg_weather-sun {
          display: none;
        }
      }

      &-night-cloudly {
        .panel__svg_weather-night-cloudly {
          display: block;
        }

        .panel__svg_weather-sun {
          display: none;
        }
      }

      &-cloudly {
        .panel__svg_weather-cloudly {
          display: block;
        }

        .panel__svg_weather-sun {
          display: none;
        }
      }
    }
  }

  &-vertical {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  &-show {
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0 5px;
  }

  &-count {
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1001;

    @media @smartphones {
      top: 10px;
      right: -40px;
      left: auto;
    }

    &_hide {
      display: none;
    }

    &__text {
      color: #000;
      font-size: 16px;
      background-color: #ffc107;
      padding: 4px 10px;
      border-radius: 100%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    }
  }

  &__description {
    display: inline-block;
    vertical-align: middle;
    color: @white;
    font-size: 14px;
    font-family: @roboto-regular;
    line-height: 1.4;
  }

  &__svg {
    height: 42px;

    &-update {
      height: 25px;
      width: 25px;
      position: absolute;
      top: 2px;
      right: 7px;
      fill: #ff9800;
      animation-name: spin;
      animation-duration: 600ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &_hide {
        display: none;
      }
    }

    @media @smartphones {
      height: 56px;
    }

    &_temperature {
      width: 25px;
      fill: #84bf41;

      @media @smartphones {
        width: 33px;
      }
    }

    &_watermeter {
      width: 43px;
      fill: #35a0ce;
    }

    &_flash {
      width: 22px;
      fill: #ffc107;
    }

    &_fire {
      width: 64px;
      fill: @iconsDisabled;

      &.panel__svg_color {
        fill: #35a0ce;
      }
    }

    &_crane {
      width: 64px;
      fill: @iconsDisabled;

      &.panel__svg_color {
        fill: #9e9e9e;
      }
    }

    &_door {
      width: 31px;
      fill: @iconsDisabled;

      @media @smartphones {
        width: 40px;
      }

      &.panel__svg_color {
        fill: #bd2a6f;
      }
    }

    &_peoples {
      width: 62px;
      fill: @iconsDisabled;

      @media @smartphones {
        width: 82px;
      }

      &.panel__svg_color {
        fill: #de5c42;
      }
    }

    &_ear {
      width: 41px;
      fill: @iconsDisabled;

      @media @smartphones {
        width: 52px;
      }

      &.panel__svg_color {
        fill: @iconsBlue;
      }
    }

    &_weather {
      height: 38px;
      width: 53px;

      @media @smartphones {
        width: 60px;
      }

      &-sun {
        height: 45px;
        width: 60px;
        fill: #ffc107;
      }

      &-cloudly {
        fill: #35a0ce;
      }

      &-sun-cloudly,
      &-snow,
      &-rain,
      &-night,
      &-night-cloudly,
      &-cloudly {
        display: none;
      }
    }
  }

  &__text {
    display: block;
    font-size: 27px;
    font-family: @roboto-regular;
    text-align: center;
    margin-top: 22px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
