@import "font.less";
@import "const.less";

.registration {
  max-width: 1125px;
  text-align: center;
  margin: 0 auto;
  padding: 0 75px;

  @media @smartphones {
    padding: 15px;
  }

  &__header {
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-size: 20px;
    font-family: @roboto-bold;
    margin-top: 20px;
    
    @media @smartphones {
      color: #dfdfdf;
      margin-top: 0;
    }    
  }

  &__input {
    display: block;
    font-size: 24px;
    font-family: @roboto-regular;
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: @white;
    margin: 15px auto;
    border: 1px solid #ccc;
    outline: none;
  }

  &__save {
    display: block;
    color: @white;
    font-size: 18px;
    font-family: @roboto-regular;
    text-align: center;
    line-height: 50px;
    height: 54px;
    width: 100%;
    background-color: #4caf50;
    margin: 10px auto 0;
    border: 1px solid #4caf50;
    cursor: pointer;
    transition-duration: .1s;

    &:active {
      background-color: @green;
      border: 1px solid @green;
    }
  }

  &-description {
    color: #555;
    font-family: @roboto-regular;
    width: 100%;
    margin: 20px auto 0;
    padding-top: 9px;
    border-top: 1px dotted;
    text-align: left;

    @media @smartphones {
      color: #dfdfdf;
    }

    &__title {
      display: block;
      color: #555;
      font-family: @roboto-bold;
      margin: 15px 0 5px;

      @media @smartphones {
        color: #dfdfdf;
      }
    }
  }
}
